    /********************************************
                MAIN STYLES
    ********************************************/
    @font-face {
        font-family: "Exo2"; src: url(../fonts/exo2/exo2.ttf);
        }  
         
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 12px;
        }

    body {
        background: url(../img/bg.png); 
        }

    .header {
        margin: 2em 0;
        }

    .content {
        margin-bottom: 3em;
        }

    .note_field {
        font-family: "Exo2";
        border-radius: 10px;
        padding: 10px 20px;
        display: inline-block;
        overflow-y: auto; 
        }

    .field_shadow {
        background: #fff;
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }       
 
    .field_shadow:before,
    .field_shadow:after {
        content: "";
        position: absolute;
        z-index: -2;
        }
    .note {
        color: #1c1a1a;
        font-weight: normal;
        font-size: 24px;
        font-family: "Exo2";
        }