.header {
    /*margin: 2em 0;*/
    }

.content {
    margin-bottom: 3em;
    }

.note_field {
    font-family: "Exo2";
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    overflow-y: auto; 
    }

.field_shadow {
    background: #fff;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }       

.field_shadow:before,
.field_shadow:after {
    content: "";
    position: absolute;
    z-index: -2;
    }

.note {
    color: #1c1a1a;
    font-weight: normal;
    font-size: 24px;
    font-family: "Exo2";
    }
    
.main_box {
    background: url(../img/bg_menu.png);
    box-shadow: 0 0 3px #AAAAAA;
    border-radius: 10px;
    }

.radio-value {
    font-family: "Exo2";
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    }

.variant {
    font-family: "Exo2";
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    }

.first_tab {
    padding: 7.5em 0;
    }

.question_field {
    padding-top: 0.5em;
    }
    
.designation, .designation b {
    font-family: "Exo2";
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    }

.data_input_field {
    font-family: "Exo2";
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    margin-top: 0.5em;
    font-size: 16px;
    padding: 1px 5px;
    text-align: center;
    }

.progress-message {
    text-shadow: #000000 0 0 1px;
    }

.options_switch, .stopwatch_switch {
    width: 90px;
    height: 30px;
    display: inline-block;
    position: relative;
    border-radius: 14px;
    background-clip: padding-box;
    background: -webkit-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    line-height: 30px;
    font-style: normal;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    -webkit-box-reflect: below 0px
        -webkit-gradient(linear, left top, left bottom,
        color-stop(0.5, transparent),
        to(rgba(255, 255, 255, 0.3)));
    transition: all 1s ease-in;
    cursor: pointer;
    }

.options_switch.attention:hover, .stopwatch_switch.attention:hover {
    background: rgb(238,159,7);
    background: -moz-linear-gradient(top,  rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,159,7,1)), color-stop(45%,rgba(240,171,8,1)), color-stop(100%,rgba(243,182,15,1)));
    background: -webkit-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
    background: -o-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
    background: -ms-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
    background: linear-gradient(to bottom,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9f07', endColorstr='#f3b60f',GradientType=0 );
    }

.options_switch.attention:hover:before, .stopwatch_switch.attention:hover:before {
    content: "☢"; /* &#9762; */
    font-size: 22px
    }

input[type=checkbox]:checked ~ .options_switch.attention:hover:before, input[type=checkbox]:checked ~ .stopwatch_switch.attention:hover:before  {
    content: "on";
    font-size: 14px
    }

.options_switch i, .stopwatch_switch i {
    position: absolute;
    top: -4px;
    right:60px;
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 36px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
    box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
    transition: all 200ms ease;
    }

.options_switch i:before, .stopwatch_switch i:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: -9px 0 0 -9px;
    border-radius: 18px;
    background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
    }

.options_switch:hover i, .stopwatch_switch:hover i {
    box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.3);
    }

.options_switch:active i:before, .stopwatch_switch:active i:before {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
    }

.options_switch:before, .stopwatch_switch:before {
    content: "off";
    margin-left: 30px;
    text-transform: uppercase;
    transition: all 200ms ease;
    }
    
.switch_name {
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #999;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 -1px 1px rgba(0,0,0,0.1);
    }

#options_button, .options_container, #stopwatch_button, .stopwatch_container {
    display: none;
    }

input[type=checkbox]:checked ~ .options_switch:before, input[type=checkbox]:checked ~ .stopwatch_switch:before {
    content: "on";
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 0;
    }

input[type=checkbox]:checked ~ .options_switch, input[type=checkbox]:checked ~ .stopwatch_switch{
    background: -webkit-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
    }

input[type=checkbox]:checked ~ .options_switch i, input[type=checkbox]:checked ~ .stopwatch_switch i {
    right: -6px;
    }

a.next_button {
    background: #ECECEC;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px 20px;
    display: block;
    font-family: "Exo2";
    text-transform: uppercase;
    font-weight: bold;
    color: #7f7f7f;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    border: 1px solid #a7a7a7;
    margin: 0px auto;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition:box-shadow 0.5s;
    cursor: pointer;
    }

a.next_button i {
    float: right;
    margin-top: 2px;
    }

a.next_button:hover {
    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    }

a.next_button:active {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
    }

/*** SLIDER ***/
.sli-links {
    margin-top: 10px;
    }

.sli-links .control-slide {
    margin: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/radioBg.png) center bottom no-repeat;
    }

.sli-links .control-slide:hover {
    cursor: pointer;
    background-position: center center;
    }

.sli-links .control-slide.active {
    background-position: center top;
    }

#prewbutton, #nextbutton {
    display: block;
    width: 15px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    text-indent: -999px;
    background: url(../img/arrowBg.png) left center no-repeat;
    opacity: 0.8;
    }

#prewbutton {
    left: 10px;
    }

#nextbutton {
    right: 10px;
    background: url(../img/arrowBg.png) right center no-repeat;
    }

#prewbutton:hover, #nextbutton:hover {
    opacity: 1;
    }
/*--- SLIDER ---*/

.output_box {
    font-family: 'Exo2';
    font-size: 20px;
    }

.output_table {
    table-layout: auto;
    border-collapse: collapse;
    background: url(../images/bg_menu.png);
    }

.output_table td {
    padding: 6px;
    border: 2px solid black;
    }

td > .text{
    font-size: 20px;
    font-weight: bold;
    }

td > .example {
    border: 2px solid;
    }

.output_row {
    text-align: center;
    }
