.content {
    margin-bottom: 3em;
    }

.main_box {
    background: url(../img/bg/bg_mainbox.png);
    box-shadow: 0 0 3px #AAAAAA;
    border-radius: 10px;
    }

.variant {
    font-family: "Exo2";
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    }

.question_field {
    padding-top: 0.5em;
    }

.designation, .designation b {
    font-family: "Exo2";
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    cursor: default;
    }

.data_input_field {
    font-family: "Exo2";
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 5px;
    margin-top: 0.5em;
    font-size: 20px;
    padding: 1px 5px;
    text-align: center;
    }

#date {
    width: 249px;
}

.progress-message {
    font-size: 16px;
    text-shadow: #000000 0 0 1px;
    cursor: default;
    }

@keyframes blink {
	0% { box-shadow: 0 0 30px red; }
	50% { box-shadow: none; }
	100% { box-shadow: 0 0 30px red; }
	}

@-webkit-keyframes blink {
	0% { box-shadow: 0 0 30px red; }
	50% { box-shadow: 0 0 0; }
	100% { box-shadow: 0 0 30px red; }
	}

.blink {
	animation: blink 1.0s linear infinite;
	}

.error_designation {
	box-shadow: 0 1px 0 red;
	}	
	
.error_radio {
	border-radius: 10px !important;
	box-shadow: 0 0 10px red;
	}

.last_questions {
	display: table;
	border-spacing: 6px 0px;
	}

.last_questions_variants{
	display: table-cell;
	}

#test_submit {
	display: none;
	}