.header {
    margin: 2em 0;
    }

.content {
    margin-top: 3em;
    margin-bottom: 3em;
    }

.name {
    font-family: 'Exo2';
    }

a.next_button {
    font-size: 20px;
    padding: 5px 20px;
    }

.theme {
    display: none;
    }